{% extends "base.html" %} {% block title %}Login{% endblock %} {% block
content%}

<div class="login-form-container">
  <h1>Login</h1>
  <form action="/login" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" required />
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="center-div-content">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>

{% endblock %}
