{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<div class="center-div-content">
  <h1>Home</h1>
  <div class="balancing-button-container">
    <a href="/issuer" class="balancing-button">Issuer</a>
    <a href="/verifier/" class="balancing-button">Verifier</a>
    <a href="/verifier/settings" class="balancing-button">Verifier Settings</a>
    <a href="/validate/" class="balancing-button">Validate</a>
  </div>
  <form id="myForm" action="/verifier" method="post" style="width: 150%; overflow-wrap: anywhere;">
    <div class="form-group" style="text-align: left;"> 
      {% for key, value in demo_credential.items() %}
    <div style="margin-top: 10px; width: 100%;">
      <input
        class="form-check-input"
        type="checkbox"
        name="{{ key }}"
        value="{{ value }}"
        id="{{ key }}"
        {% if key in mandatory_fields %}
        checked
        {% endif %}
      />
      <label style="margin-left: 10px;" for="{{ key }}">
        {{ key }}: {{ value }}
      </label>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
