html {
    /* height: 100%; */
    font-family: var(--text-font);
}

body {
    background-color: var(--main-bg-color);
    /* height: 100%; */
}


div {
    display: block;
    color: var(--default-text-color);
    font-family: var(--text-font);
}

p {
    color: var(--default-text-color);
    font-family: var(--text-font);
}

h1 {
    color: var(--default-text-color);
    font-family: var(--text-font);
    margin: var(--standard-padding);
    font-size: 20px;
}

label {
    color: var(--default-text-color);
    font-family: var(--text-font);
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}


.alert-danger {
    background-color: #902925;
    color: var(--default-text-color);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    background-color: #4e9025;
    color: var(--default-text-color);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning {
    background-color: #cba407;
    color: var(--default-text-color);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.center-div-content, .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    color: var(--disabled-text-color)
}

.nav-bar {
    background: var(--nav-bar-color);
    width: 100%;
    font-family: var(--text-font);
    font-weight: normal;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    height: fit-content;
    overflow: hidden;
}

.logo-container {
    float: left;
}

.supernav-container {
    float: left;
    left: 100px;
    display: flex;
    vertical-align: middle;
    height: 100%;
}

.login-container {
    float: right;
    right: 100px;
    display: flex;
    vertical-align: middle;
    height: 100%;
}

.menuitem {
    display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #dcdedf;
    text-transform: uppercase;
    font-size: 16px;
    font-family: var(--text-font);
    font-weight: 500;
    text-transform: uppercase;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.login-form-container, .register-form-container, .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    padding: var(--standard-padding);
    padding-bottom: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: var(--standard-border-radius);
}

input[type="text"], input[type="password"], input[type="email"], input[type="checkbox"], select{
    border-radius: 2px;
    color: var(--default-text-color);
    padding: 10px;
    background-color: var(--input-bg-color);
    outline: none;
    grid-area: input;
    border: 1px solid #32353c;
    accent-color: #5f89b3;
}

input[type=checkbox] {
    appearance: none;
    border: 1px solid #32353c;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: var(--input-bg-color);
    color: var(--input-bg-color);
    height: 10px;
    width: 10px;
    text-align: center;
    vertical-align: middle;
}

input[type=checkbox]:checked {
    border: 1px solid #7db1f5;
    background-color: #379eff;
}

input[type=checkbox]:focus {
    border: 1px solid #9cc4f9;
    color: var(--input-selected-color);
}


input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus {
    border-width: 3px;
    color: var(--default-text-color);
    background-color: var(--input-selected-color);
}

.balancing-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.balancing-form{
    flex: 12%;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--default-text-color);
}

.balancing-button {
    flex: 1 1 150px;
    max-width: 150px;
    min-width: fit-content;
    width: auto;
    height: 100px;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--default-text-color);
}

input[type="file"] {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

@keyframes pulse-white {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.7);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
}

.custom-file-upload {
    position: relative;
    width: fit-content;
    overflow: hidden;
    color: var(--main-bg-color);
    background-color: var(--main-bg-color);
    animation: pulse-white 2s infinite;
    box-shadow: 0 0 0 0 rgba(3, 116, 255, 0.34);
    border-radius: 30%;
    aspect-ratio: 1 / 1;
}


:root {
    --default-text-color: #333333; /* Dark text for light background */
    --main-bg-color: #ffffff; /* White background */
    --main-bg-color-rgba: rgba(255, 255, 255, 0.95); /* Semi-transparent white */
    --secondary-bg-color: #f2f2f2; /* Light gray background */
    --input-bg-color: #ffffff; /* White input background */
    --input-selected-color: #e6f7ff; /* Light blue for selected input */
    --nav-bar-color: #222b37; /* Light nav bar */
    --highlight-blue: #007bff; /* Bright blue highlight */
    --text-font: 'Roboto', sans-serif;
    --disabled-text-color: #b0b0b0; /* Light gray for disabled text */
    --standard-padding: 10px;
    --standard-border-radius: 12px;
}

.balanced-container {
    display: flex;              /* Use flexbox layout */
    justify-content: space-between; /* Space items evenly */
    margin-bottom: 15px;       /* Space between fields */
    width: 100%;  
    
}

.form-control {
    width: 100%;               /* Allow input to fill available space */
}

.activeButton {
    background-color: var(--highlight-blue);
    color: var(--main-bg-color);
    border: none;
    padding: 10px;
    border-radius: var(--standard-border-radius);
    font-family: var(--text-font);
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.inactiveButton {
    background-color: var(--input-bg-color);
    color: var(--disabled-text-color);
    border: none;
    padding: 10px;
    border-radius: var(--standard-border-radius);
    font-family: var(--text-font);
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

table, th, td {
    color: var(--default-text-color);
}


  
  
